<!-- home.component.html -->
<div class="home-container">
    <h1>Benvenuto nel nostro Ristorante!</h1>
    <p>Goditi un'esperienza gastronomica unica in un ambiente accogliente.</p>
  
    <div class="images">
      <div class="image-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu5miXbaSY3vikoh5lMMWrmA-LF79mk-PF9g&s" alt="Ambiente Ristorante" />
        <p>Ambiente Elegante</p>
      </div>
      <div class="image-item">
        <img src="https://media.istockphoto.com/id/1018141890/it/foto/due-bicchieri-da-vino-vuoti-seduti-in-un-ristorante-in-un-caldo-pomeriggio-di-sole.jpg?s=612x612&w=0&k=20&c=rXxL64PCPEoOLFYFoT5l4XkrGhz-YBwYrfq87sxhMa4=" alt="Piatto 1" />
        <p>Piatti Gustosi</p>
      </div>
      <div class="image-item">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/dc/3a/6a/ristorante-belami.jpg?w=600&h=-1&s=1" alt="Piatto 2" />
        <p>Specialità della Casa</p>
      </div>
    </div>
  </div>
  