.contatti-container {
    text-align: center;
    padding: 20px;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    color: #333;
  }
  
  .contact-info a {
    color: #e74c3c;
    text-decoration: none;
    font-weight: bold;
  }
  